* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #294154;
}

body {
    background: rgb(176,196,222);
    background: linear-gradient(90deg, rgba(176,196,222,1) 0%, rgba(70,130,180,1) 50%, rgba(176,196,222,1) 100%);;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #b0c4de;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}